.user-posts-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.post {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.post-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

.post-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.post-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.post-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.post-exit-active {
  opacity: 0;
  transform: translateY(-20px);
}

.post-body {
  font-size: 1rem;
  color: #555;
}
